<div class="container">
    <div class="row welcome">
        <h2>Welcome to Locked In!</h2>
    </div>
    <div class="row homepage-container">
        {{!--  --}}
        <div class="col-md-7 container">
            <div class="card left-bar">
                <h2 class="card-header">How to Play</h2>
                <div class="card-body">
                    <p>Welcome to Locked In, the app that lets you make casual bets with your friends!</p>
                    <p>To use Locked In, sign up for a free account by clicking on the Login button. Once you have an account, you can go to your Profile page to propose a bet to a friend. If they accept, the bet is on!</p>
                    <p>Once you have decided the bet, you and your friend both vote on who won the bet. If you both agree, the winner of the bet is recorded, otherwise it counts as a tie.</p>
                </div>
            </div>
            <div class="card left-bar">
                <h2 class="card-header">Stats</h2>
                <div class="card-body">
                    <h3>Total Bets to Date</h3>
                    <p>So far, {{stats.num_bets}} bets have been made with Locked In. Will you make the next one?</p>
                    <h3>Biggest Win</h3>
                    <p>The biggest win to date is ${{stats.big_win}}. Nice!</p>
                    <h3>Biggest Loss</h3>
                    <p>The biggest loss to date is ${{stats.big_loss}}. Bummer!</p>
                </div>
            </div>
        </div>
        {{!-- Sidebar --}}
        <div class="col-md-5">
            <div class="card right-bar">
                <h2 class="card-header">Recent Bets</h2>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {{#each bets as |bet|}}
                        <a href="/bet/{{bet.id}}">
                            <li class="list-group-item">
                                <h3>{{bet.winner.username}} won ${{bet.amount}}</h3>
                                {{#each bet.users as |user|}}
                                <p>{{user.username}} bet ${{user.stake.amount}}</p>
                                {{/each}}
                            </li>
                        </a>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
