<link rel="stylesheet" href="/css/profileSettled.css" />
<div class="main-container">
  {{> profile-nav}}

  {{#if settledBets}}
  <div class="settled-container" data-types="{{user.id}}">
    {{#each settledBets as |settledBet|}}
    <div class="settled-bet" data-types="{{settledBet.bet.winner}}">
      <div class="header">
        <h3>{{settledBet.bet.title}}</h3>
      </div>
      <div class="bet-info">
        <p class="other-user">Against {{settledBet.user.username}} for ${{settledBet.bet.amount}}</p>
        <p class="winner">Winner: {{settledBet.bet.winner}}</p>
        <p class="date">{{format_date settledBet.bet.date_created}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
<script src="/js/settled.js"></script>