<link rel="stylesheet" href="/css/profileSettled.css" />
<div class="container">
  <div class="profile-navbar">
    <ul class="profile-menu">
      <li class="profile-menu-item">
        <a href="/profile/new-bet">New Bet</a>
      </li>
      <li class="profile-menu-item">
        <a href="/profile/settled">Settled</a>
      </li>
      <li class="profile-menu-item">
        <a href="/profile/summary">Summary</a>
      </li>
    </ul>
  </div>

    {{#if settledBets}}
    <div class="settled-container">
        {{#each settledBets as |settledBet|}}
        <div class="settled-bet">
            <div class="header">
                <h3>{{settledBet.bet.title}}</h3>
            </div>
            <div class="bet-info">
                <p class="other-user">Against {{settledBet.user.username}} for ${{settledBet.bet.amount}}</p>
                <p class="winner">Winner: {{settledBet.bet.winner_username}}</p>
                <p class="date">{{format_date settledBet.bet.date_created}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>